.card {
	margin-bottom: 1rem !important;
	background-color: var(--cardBackground);
	border: 0px;
	box-shadow: var(--shadowBackground) 0px 5px 15px;
	transition: background-color 0.15s ease-in-out;
}

.card-content {
	margin: 0.35rem 0.35rem 0 0.65rem;
}

.card-title {
	line-height: 1.5rem;
	text-align: left;
	color: var(--text-color);
	width: auto;
	transition: color 0.15s ease-in-out;
}

.card-category {
	position: absolute;
	top: 22px;
	right: 22px;
	text-align: right;
	font-size: 18px;
	width: auto;
}

.card-description {
	margin-top: 20px;
	line-height: 1rem;
	color: var(--codeDescription);
	transition: color 0.15s ease-in-out;
}

.card-usage {
	color: var(--text-color);
	margin-top: 2.5rem;
	transition: color 0.15s ease-in-out;
}

.card-accent {
	position: absolute;
	min-height: 100%;
	border-radius: 0.355rem;
}

.card pre {
	background-color: var(--codeBackground);
}

.hidden {
	display: none;
}

.card-title a,
.card-title a:visited,
.card-title a:hover {
	color: var(--text-color);
	text-decoration: none;
	transition: color 0.15s ease-in-out;
}

.documentation-icon {
	font-size: 20px;
	vertical-align: middle;
	margin-left: 10px;
}