.copy-button-wrapper {
	position: absolute;
	right: 28px;
	width: 40px;
}

.copy-button-wrapper button {
	width: 40px;
	padding: 0.25rem;
	border-color: var(--cardBackground-dark) !important;
	background: var(--background) !important;
	color: var(--cardBackground-dark) !important;
}

.copy-button-wrapper button:hover {
	border-color: var(--green)  !important;
	color: var(--green)  !important;
}

.copy-button-wrapper button.active {
	border-color: var(--green) !important;
	color: var(--green) !important;
}

.copy-button-wrapper span {
	content: "Copied";
	opacity: 0;
	position: absolute;
	top: -50px !important;
	right: -12px;
	height: 35px;
	width: 66px;
	padding: 8px 10px;
	background: var(--background);
	border-radius: 6px;
	font-size: 12px !important;
	color: var(--green);
	text-align: center;
	transition: opacity 0.15s ease-in-out;
}

.copy-button-wrapper span::after {
	content: "";
	position: absolute;
	top: 28px;
	right: 26px;
	width: 10px;
	height: 10px;
	background: var(--background);
	transform: rotate(45deg);
}

.copy-button-wrapper span.active {
	opacity: 1 !important;
}
