.search-wrapper {
  position: relative;
  display: inline-block;
  box-shadow: var(--shadowBackground) 0px 5px 15px;
  width: 420px;
}

.input {
  width: 100%;
  height: 65px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  background-color: var(--cardBackground);
  border-radius: 0.355rem;
  font: normal 24px/1.6 system-ui, sans-serif;
}

.input:focus {
  outline: none;
}

.suggestion-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--cardBackground);
  box-shadow: var(--shadowBackground) 0px 15px 15px;
  /* border-top: 1px solid #e5e5e5; */
  border-radius: 0 0 0.355rem 0.355rem;
	border-top: 1px solid var(--shadowBackground);
  color: var(--text-color);
  padding: 10px 10px;
  width: 100%;
  text-align: start;
  font-size: 18px/1.6;
  transition: background-color 0.15s ease-in-out;
}

.suggestions {
  width: 100%;
  padding: 15px 15px;
  /* border-bottom: 1px solid #e5e5e5; */
}

.suggestions:hover {
  background-color: var(--purple);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 0.355rem;
}

.select {
  padding-top: 50px;
  font-size: 18px;
}

.selected {
  font-weight: 600;
  padding-left: 10px;
}