@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
	padding: 0;
	margin: 0;
	background-color: var(--background);
	transition: background-color 0.15s ease-in-out;
}

* {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none;
		transition: none;
	}
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.display-linebreak {
	white-space: pre-line;
}